<!DOCTYPE html>
<html lang="en">
  <title>Arts</title>
  <%-include("partials/head") -%>
  <body>
    <% if(userActive){ %> <%-include("partials/headerloged") -%> <%}else{%>
    <%-include("partials/header1") -%> <%};%>
    <!--Main layout-->
    <style>
      body {
        background-image: url("/assets/img/background.svg");
        z-index: -2;
        background-repeat: repeat-x;
      }
    </style>
    <main class="mt-5 pt-4">
      <div class="container dark-grey-text mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <img src="<%= data.img1 %> " class="img-fluid" alt="" />
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <!--Content-->
            <div class="p-4">
              <div class="mb-3">
                <a href="">
                  <span class="badge purple mr-1">Category 2</span>
                </a>
                <a href="">
                  <span class="badge blue mr-1">New</span>
                </a>
                <a href="">
                  <span class="badge red mr-1">Bestseller</span>
                </a>
              </div>

              <p class="lead">
                <span class="mr-1">
                  <del>$44 </del>
                </span>
                <!--price here-->
                <span>$<%= data.price %></span>
              </p>

              <p class="lead font-weight-bold"><%= data.name %></p>

              <p><%= data.artist %></p>

              <form
                class="d-flex justify-content-left"
                method="GET"
                action="/payment/<%= data.id %> "
              >
                <!-- Default input -->

                <button class="btn btn-md my-0 p mybtn" type="submit">
                  Get
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>
              </form>
            </div>
            <!--Content-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">
          <!--Grid column-->
          <div class="col-md-6 text-center">
            <h4 class="my-4 h4">Description</h4>

            <p><%= data.description %></p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->

        <!--Grid row-->
      </div>
      <br />
    </main>
    <!--Main layout-->

    <script>
      new WOW().init();
    </script>
    <%-include("partials/foot") -%>
  </body>
</html>
