<!DOCTYPE html>
<html lang="en">
  <title>home</title>
  <%-include("partials/head") -%>
  <!--Main Navigation-->

  <!-- Navbar -->
  <body>
    <style>
      body {
        background-image: url("assets/img/background.svg");
        z-index: -2;
        background-repeat: repeat-x;
      }
    </style>
    <% if(userActive){ %> <%-include("partials/headerloged") -%> <%}else{%>
    <%-include("partials/header1") -%> <%};%>

    <main class="mt-5 pt-5">
      <div class="container">
        <!--Section: Magazine v.1-->
        <section class="wow fadeIn">
          <!--Section heading-->
          <h2 class="h1 text-center my-5 font-weight-bold">Arts</h2>

          <!--Grid row-->
          <div class="row text-left">
            <!--Grid column-->
            <% data.map((element)=>{ %>
            <div class="col-lg-6 col-md-12">
              <!--Image-->
              <div class="view overlay rounded z-depth-1-half mb-3">
                <img
                  src="<%= element.img1 %> "
                  class="img-fluid"
                  alt="Sample post image"
                />
                <a href="/display/<%= element._id %> ">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Excerpt-->
              <div class="news-data">
                <a href="" class="light-blue-text">
                  <h6>
                    <strong> <%= element.name %> </strong>
                  </h6>
                </a>
                <h3><%= element.artist %></h3>
                <br />
              </div>
            </div>
            <% }) %>
            <!--Grid column-->

            <!--Grid column-->

            <!--Grid column-->
          </div>

          <!--Grid row-->
        </section>
        <!--/Section: Magazine v.1-->
      </div>
    </main>
    <!--Main layout-->

    <%-include("partials/foot") -%>
  </body>
</html>
