<!DOCTYPE html>
<html lang="en">
  <title>Payment</title>
  <%-include("partials/head") -%>

  <body>
    <!-- Start your project here-->
    <%-include("partials/headerloged") -%>
    <!--Main layout-->
    <style>
      body {
        background-image: url("/assets/img/background.svg");
        z-index: -2;
        background-repeat: repeat-x;
      }
    </style>
    <main class="mt-5 pt-4">
      <div class="container wow fadeIn">
        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>
        <small>please input fake information or real i dont care 😉</small>

        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-8 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <form
                class="card-body needs-validation"
                action="/purchase/<%= data.id %> "
                method="POST"
                novalidate
              >
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
                    <!--firstName-->
                    <div class="md-form">
                      <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        name="fname"
                        required
                      />
                      <label for="firstName" class="">First name</label>
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6 mb-2">
                    <!--lastName-->
                    <div class="md-form">
                      <input
                        type="text"
                        id="lastName"
                        class="form-control"
                        name="lname"
                        required
                      />
                      <label for="lastName" class="">Last name</label>
                    </div>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--email-->
                <div class="md-form mb-5">
                  <input
                    type="text"
                    id="email"
                    class="form-control"
                    placeholder="youremail@example.com"
                    name="emiail"
                    required
                  />
                  <label for="email" class="">Email (optional)</label>
                </div>

                <!--address-->
                <div class="md-form mb-5">
                  <input
                    type="text"
                    id="address"
                    class="form-control"
                    placeholder="1234 Main St"
                    name="address"
                    required
                  />
                  <label for="address" class="">Address</label>
                </div>
                <!--Grid row-->

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="cc-name">Name on card</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cc-name"
                      placeholder=""
                      required
                    />
                    <small class="text-muted"
                      >Full name as displayed on card</small
                    >
                    <div class="invalid-feedback">Name on card is required</div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="cc-number">Credit card number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cc-number"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">
                      Credit card number is required
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 mb-3">
                    <label for="cc-expiration">Expiration</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cc-expiration"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Expiration date required</div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="cc-expiration">CVV</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cc-cvv"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Security code required</div>
                  </div>
                </div>
                <hr class="mb-4" />
                <button class="btn btn-lg btn-block mybtn" type="submit">
                  Continue to checkout
                </button>
              </form>
            </div>
            <!--/.Card-->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-4 mb-4">
            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Art by <%= data.artist %> </span>
            </h4>

            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1">
              <li
                class="list-group-item d-flex justify-content-between lh-condensed"
              >
                <div>
                  <h6 class="my-0"><%= data.name %></h6>
                </div>
                <span class="text-muted">$<%= data.price %> </span>
              </li>

              <li
                class="list-group-item d-flex justify-content-between bg-light"
              >
                <div class="text-success">
                  <h6 class="my-0">My cut</h6>
                  <small></small>
                </div>
                <span class="text-success">+$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <%price = parseInt(data.price.replace(/\D/g,'')) ;%> <% var tot
                = price+5%>
                <strong>$<%=tot %> </strong>
              </li>
            </ul>
          </div>
        </div>
        <!--Grid row-->
      </div>
    </main>
    <!--Main layout-->
    <!-- End your project here-->

    <%-include("partials/foot") -%>
  </body>
</html>
